body{
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    background-image: url('../images/whiteBG.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;

    color: white;
}

#navbar {
    background-color: #073066;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#navigation {
    background-color: #073066;
    color: #F1F1F2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ograa-logo {
    position: absolute;
    height: 600px;
    width: 600px;
    margin-left: 10%;
    margin-top: 7%;
}

@media screen and (max-width: 700px){
    #ograa-logo{
        display: flex;
        width: 100%;
    }
}

#unique-logo {
    width: 50px;
    height: auto;
}

#logo-title {
    display: inline-flex;
    margin-left: 10%;
    margin-top: 10px;
}

#table-container {
    text-align: center;
    width: 1300px;
    margin-left: 50px;
    margin-right: 50px;
}

table {
    width: 1300px;
    text-align: center;
    color: #073066;

}

th {
    font-family: "Century Gothic", SansSerif, serif;
    border-bottom: solid #073066 1px;
}

td {
    padding: 20px;
    border-bottom: solid #073066 1px;
}

#logo-title h1 {
    font-size: 18px;
    margin: 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#unique-logo {
    margin-right: 5px; 
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 3rem;
}
#navigation li {
    display: inline;
    margin-right: 40px;
}
#navigation a {
    
    font-size: 20px;
    text-decoration: none;
    color: white;
}

button {
    padding: 6px 12px;
    border: 1px solid #007BFF;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;

}

.n-events h1 {
text-align: center;
}

.n-events img {
    width: 300px;
    height: auto;
}

#title{
    font-size: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: #073066;
}

#title-container{
    margin-top: 100px;
    text-align: left;
}

#search-box {
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  #search-input {
    flex: 1;
    padding: 6px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  #search-button {
    padding: 6px 12px;
    border: 1px solid #007BFF; /* Change the color to your preferred color */
    border-radius: 3px;
    background-color: #007BFF; /* Change the color to your preferred color */
    color: #fff;
    cursor: pointer;
  }
  
  /* Optional: Style for responsiveness */
  @media (max-width: 768px) {
    #search-box {
      flex-direction: column;
      align-items: stretch;
    }
  
    #search-input {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }
  