body{
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    background-image: url('../images/transparent.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}

#content-container{
    width: 100%;
    margin-top: 150px;
    text-align: center;

}

#document-info {
    text-align: left;
    padding-left: 20px;
    height: 400px;
    width: 900px;
    background: rgb(24, 51, 80, 0.85);
    float: left;
    margin-left: 50px;
    margin-right: 40px;
}

h1 {
    color: #183350;
}

#document-render {
    margin-top: 50px;
    height: 200px;
    margin-left: 50px;
    margin-right: 50px;
    width: 900px;
}

#button-holder {
    padding: 20px;
    float: left;
    margin-right: 100px;
    width: 250px;
    background: rgba(110, 108, 108, 0.7);
    text-align: center;

}

#return {
    font-size: 20px;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: #183350;
    cursor: pointer;
    margin: 0px 20px 20px;
}

#approve {
    margin: 0px 20px 20px;
    font-size: 20px;
    border: 0;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: #183350;
    color: white;
    cursor: pointer;
}