body{
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    background-image: url('../images/transparent.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}

#content-container{
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

#document-info {
    text-align: left;
    padding-left: 20px;
    height: 300px;
    width: 900px;
    background: rgb(24, 51, 80, 0.85);
    float: left;
    margin-left: 50px;
    margin-right: 10px;
}

h1 {
    color: #183350;
}
#document-render {
    display: block;
    margin-top: 50px;
    height: 900px;
    margin-left: 50px;
    margin-right: 50px;
    width: 1220px;
}

#viewer {
    display: block;
    margin-top: 50px;
    height: 900px;
    margin-left: 50px;
    margin-right: 50px;
    width: 1220px;
}

.side-holder {
    padding: 20px;
    float: left;
    margin-bottom: 20px;
    height: 260px;
    margin-right: 100px;
    width: 250px;
    background: rgba(110, 108, 108, 0.7);
    text-align: center;
}

#note {
    padding: 20px;
    float: left;
    margin-right: 100px;
    width: 250px;
    background: rgba(110, 108, 108, 0.7);
    text-align: center;

}


textarea {
    resize: none;
    background-color: rgba(255, 255, 255, 0.39);
    padding: 10px;
    width: 220px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    height: 50px;
    margin-bottom: 10px;
}

#return {
    font-size: 18px;
    border: 0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: #183350;
    cursor: pointer;
    margin: 0px 20px 20px;
}

#approve {
    margin: 0px 20px 20px;
    font-size: 18px;
    border: 0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: #183350;
    color: white;
    cursor: pointer;
}