/* footer */
footer {
    bottom: 0;
    border-top: 2px solid white;
    height: 111px;
    background-image: url('../images/triangles.png');
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#wrap {
    display: flex; 
    align-items: center; 
    margin-bottom: 18px;
}

#footer-icon {
    height: 75px;
    width: 75px;
}

#contentFooter {
    color: #fff;
    font-size: 8px;
    margin-left: 10px; 
}

#info {
    top: 0;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    color: #ffffff;
    opacity: 0.4;
    font-size: 11px;
    margin-top: 90px;
}
