/* footer */

#footer{
    border-top: 2px solid white;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    height: 111px;
    background-image:url('../images/triangles.png');
    width: 100%;
}

#footer-icon{
    height: 75px;
    width: 75px;
}

#contentFooter p{
    color: #fff;
    font-size: 8px;
}

#info{
    top: 0;
    position: absolute;
    left: 45%;
    color: #ffffff;
    opacity: 0.4;
    font-size: 11px;
    margin-top: 80px;
}

