/* footer */

#footer{
    border-top: 2px solid white;
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 108px;
    background-image:url('../images/triangles.png');
    width: 100%;
}

#footer-icon{
    height: 75px;
    width: 75px;
    margin-right: 15px;
    margin-left: 750px;
}

#contentFooter p{
    color: #fff;
    font-size: 7px;
    margin-top: 1px;
    margin-right: 800px;
}

#info{
    top: 0;
    position: absolute;
    left: 44%;
    color: #ffffff;
    opacity: 0.4;
    font-size: 11px;
    margin-top: 80px;
}

