body{
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    background-image: url('../images/transparent.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;

    color: white;
}
h1, h2 {
    margin: 0;
}

.input-container label {
    margin-bottom: 5px;
    text-align: left;
}
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    align-items: center;
}

input {
    font-size: 20px;
    border: 0;
    padding-left: 40px;
    padding-top: 5px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: rgb(255,255,255,0.5);
}

p {
    text-align: center
}


hr {
    width: 70%;

}

#content-holder {
    margin-top: 60px;
    align-items: center;
}

#banner {
    margin: 0 auto;
    text-align: center;
    color: white;
}

#title {
    margin-right: 22%;
    margin-left: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-container {

    position: relative;
}

.input-container input {
    padding-left: 50px;
}

.input-container .fa-input {

    position: absolute;
    left: 20px;
    top: 65%;
    transform: translateY(-50%);
}

.input-container .fa-input i {
    font-size: 16px;
    color: white;
}


#slu {
    float: left;
    width: 150px;
}

#ograa {
    float: right;
    width: 150px;
}

#welcome {
    text-align: center;
}

#login-btn {
    font-size: 20px;
    border: 0;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: #1985E5;
    color: white;
    cursor: pointer;
}