body{
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    background-image: url('../images/transparent.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}

#track {
    margin-top: 120px;
    text-align: center;
    color: rgba(8, 47, 99);
}

#progress-block{
    padding-right: 10px;
    float: left;
}

ul.progress-bar {
    height: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

ul.progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    background: #777;
    width: 5px;
    height: 100vh;
}

ul.progress-bar li {
    background: #000;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    z-index: 1;
    position: relative;
}

ul.progress-bar li.stop ~ li {
    background: #777;
}

ul.progress-bar li.stop ~ li::after {
    height: 0;
}

ul.progress-bar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    background: #000;
    width: 5px;
    height: 100vh;
}

ul.information {
    height: 500px;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

ul.information li {
    height: 15px;
    list-style-type: none;
}


ul.information li::marker {
    display: none;
}

#flow-data {
    padding: 0 30px 30px;
    margin: 0 20px 20px;

    background-color: rgba(8, 47, 99, 0.8);
    width: 600px;
    height: 800px;
    float: right;
    overflow: auto;
}

#render-document {
    padding: 0 30px 30px;
    margin: 0 20px 20px;
    background-color: rgba(8, 47, 99, 0.637);
    width: 600px;
    height: 800px;
    float: left;
    overflow: auto;
}

#render-document{
    padding: 30px;
    margin: 20px;
}
#render-document iframe {
    padding: 30px;
    margin: 20px;

}