html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/dashboard.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title OGRAA

    header
        #navbar
            #navigation
                .logo-container
                    #logo-title
                        img#unique-logo(src="/images/slu-logo.png", alt="Logo")
                        h1
                            a(href="/welcome-page") Saint Louis University
                ul
                    li
                        p Hello, #{userData.firstName}
                    li
                        a(href='/welcome-page') Home
                    if userData.role === 'user'
                        li
                            a(href='/request-form') Request
                    li
                        a(href='/dashboard') Dashboard