doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/doc-review.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-white-header

        div#content-container
            h1 View Document
            div#inside-container

                div#document-info
                    p Referring Entity: #{documentData.referring}
                    p Document Title:
                    p Document Type:
                    p Number of Pages:
                    p Document
                    p Description:

                div#button-holder
                    button#approve
                        b Approve
                    button#return
                        b Return

            div#document-render
