doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/req_dashboard.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-blue-header

        div#track
            h1 Track Document

        div#flow-data
            div#progress-block
                ul.progress-bar
                    each item in documentData
                        if item.status === 'Approved'
                            li
                        else if item.status === 'Pending'
                            li.stop

            ul.information
                each item in documentData
                        li
                            b= item.office
                            p Status: #{item.status}
