doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/req_dashboard.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-blue-header

        div#track
            h1 Track Document

        div#flow-data
            div#progress-block
                each item in documentData
                    if reqID === item.requestID
                        ul.progress-bar
                            if reqID === item.requestID
                                if item.status === 'approved'
                                    li.stop
                                else
                                    li

                        ul#information
                            li
                                b #{item.officeID}
                                p Status: #{item.status}
                                p File: #{item.file}