doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        script(src="")
        meta(name="viewport", content="width=device-width")
        link(rel="stylesheet", href="/css/doc-review.css")
        link(rel="icon", type="image/x-icon", href="/images/ograa.png")
        title Document Progress

    body
        include client-blue-header