html
    head 
    
    footer
        section#footer-container
            div#footer
                div#foot-img
                    img#footer-icon(src="../images/slu-logo.png", alt="footer-icon")
                div#contentFooter
                    p Team Groot - 9488 AB - IT312/312L - 1st Semester AY 2023 - 2024
                    p IT Department
                    p School of Accountancy, Management, Computing and Information Studies
                        |  Saint Louis University
                    p Saint Louis University

        div#info
            p Copyright © 2023 Groot. All rights reserved.