doctype html
html
    head
        script(src='/lib/webviewer.min.js')

    body(style='width: 100%; height: 100%; padding: 0; margin: 0')

        div#viewer(style='width: 100%, height: 100%')
        script(src="/lib/index.js")