doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(rel='stylesheet', href='/css/req.css')
        link(rel='icon', type='image/x-icon', href='/images/ograa.png')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', rel="stylesheet")
        title OGRAA

    body
        include client-white-header

        h1#section-title DOCUMENT REVIEW REQUEST FORM
        form(action="", method="POST" name="reqForm" enctype="multipart/form-data")
            .row
                .input-container
                    label(for='referring-unit') Referring Person/Unit:
                    input#referring-unit(type='text', name='entity', required)
                    span.fa-input
                        i.fas.fa-user
                br
                br
                .input-container
                    label(for='document-title') Document Title:
                    input#document-title(type='text', name="documentTitle", required)
                    span.fa-input
                        i.fas.fa-newspaper
                br

            .row
                .input-container
                    label(for="document-type") Document Type:
                    input#document-type(type="text", name='documentType', required)
                    span.fa-input
                        i.fas.fa-tag
                br
                br
                .input-container
                    label(for="no-of-pages") No. of Pages:
                    input#no-of-pages(type="text", name='numOfPages', required)
                    span.fa-input
                        i.fas.fa-paperclip
                br

            .input-container
                label(for="document-description") Document Description:
                textarea#document-description(rows="4", cols="50", required, name='desc')

            #submission
                span.fa-input
                    i.fas.fa-folder-open
                p Drag and Drop Files Here
                p or
                .upload-btn-wrapper
                    button.btn Upload a file.
                    input#browse-button(type='file', name="pdfFile" accept='.pdf', required)

            input#req-button(type="submit")
            button#cancel-button(name='Cancel Submission')
                b Cancel Submission
