doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        link(rel='stylesheet', href='/css/req.css')
        link(rel='icon', type='image/x-icon', href='/images/ograa.png')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', rel="stylesheet")
        title OGRAA

    body
        include client-white-header

        h1#section-title DOCUMENT REVIEW REQUEST FORM
        form(action="", method="POST")
            .row
                .input-container
                    label(for="referring-unit") Referring Person/Unit:
                    input#referring-unit(type="text", name="referring-unit", required)
                    span.fa-input
                        i.fas.fa-user
                br
                br
                .input-container
                    label(for="document-title") Document Title:
                    input#document-title(type="text", name="document-title", required)
                    span.fa-input
                        i.fas.fa-newspaper
                br

            .row
                .input-container
                    label(for="document-type") Document Type:
                    input#document-type(type="text", name="document-type", required)
                    span.fa-input
                        i.fas.fa-tag
                br
                br
                .input-container
                    label(for="no-of-pages") No. of Pages:
                    input#no-of-pages(type="text", name="no-of-pages", required)
                    span.fa-input
                        i.fas.fa-paperclip
                br

            .input-container
                label(for="document-description") Document Description:
                textarea#document-description(rows="4", cols="50", required)


            p Approving Offices:
            select
                option(value='0') Select Approving Office/s
                option(value='3') SLU Office for Global Relations and Alumni Affairs
                option(value='4') SLU Unit
                option(value='5') SLU Office of the Vice President for Academic Affairs
                option(value='6') SLU Office of Vice President for Finance
                option(value='7') SLU Office for Legal Affairs
                option(value='8') SLU Office of the Vice President for Administration

            #submission
                span.fa-input
                    i.fas.fa-folder-open
                p Drag and Drop Files Here
                p or
                .upload-btn-wrapper
                    button.btn Upload a file.
                    input#browse-button(type='file', name='Browse Files')

            input#req-button(type="submit")
            button#cancel-button(name='Cancel Submission')
                b Cancel Submission
